* {{
    background:     {background};
    background-alt: {background};
    foreground:     {foreground};
    selected:       {color6};
    active:         {color11};
    urgent:         {color2};
}}
